{% extends 'base.html' %}
{% block body %}
<br><br>
{% if devices %}
<table border="1" width="100%" cellpadding="10" class="table">
    <tr>
        <th>IP</th>
        <th>MAC</th>
        <th>Hostname</th>
        <th>Status</th>
        <th>OS</th>
        <th>Vendor</th>
        <th>ports activé</th>
        <th>status port</th>
    </tr>

    {% for d in devices %}
    <tr>
        <td>{{ d.ip }}</td>
        <td>{{ d.mac }}</td>
        <td>{{ d.hostname }}</td>
        <td>{{ d.status }}</td>
        <td>{{ d.os_name }}</td>
        <td>{{ d.vendor }}</td>
        <td>{{ d.ports|safe }}</td>
        <td>{{ d.status_port }} </td>
    </tr>

    {% endfor %}

</table>
{% endif %}
{% endblock %}