{% extends 'base.html' %}
{% block body %}
    <main class="main">

        <header class="header">
            <h1>Dashboard</h1>
        </header>

        <section class="cards">

            <div class="card">
                <h3>Total Assets</h3>
                <p>1250</p>
            </div>

            <div class="card">
                <h3>Online Devices</h3>
                <p>1180</p>
            </div>

            <div class="card">
                <h3>Offline Devices</h3>
                <p>70</p>
            </div>

        </section>

    </main>

{% endblock %}